<h1 style="margin-left:40%;">Product List</h1>
<div class="px-5 col-md-9" style="margin-left:165px">
    <div class="input-group mb-3">
        <label class="input-group-text" for="category">Category</label>
        <select (change)="selectSubCategory(category)" [(ngModel)]="category" name="category" id="category"
            class="form-select">
            <option value="-1">Select Category</option>
            <option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</option>
        </select>
        <label class="input-group-text" for="SubCategory">SubCategory</label>
        <select name="subcategory" id="subcategory" class="form-select" [(ngModel)]="subcategory">
            <option value="-1">Select SubCategory</option>
            <option *ngFor="let subcat of clonedsubCategories" [value]="subcat.id">{{subcat.name}}</option>
        </select>
        <input  class="input-group" type="text" name="search" [(ngModel)]="name" class="form-control" aria-label="Text input with dropdown button">
        <button class="btn btn-outline-secondary" type="button" (click)="searchProducts()">Search</button>
    </div>
    <span matSnackBarActions></span>
</div>
<mat-grid-list [cols]="cols.length" rowHeight="30px">
    <div *ngFor="let cols of cols">
        <mat-grid-tile>{{cols}}</mat-grid-tile>
    </div>
    <div *ngFor="let product of products">
        <mat-grid-tile><a [routerLink]="['product',product.id]">{{product.code}}</a></mat-grid-tile>
        <mat-grid-tile>{{product.name}}</mat-grid-tile>
        <mat-grid-tile>{{product.quantity}}</mat-grid-tile>
        <mat-grid-tile>{{product.price}}</mat-grid-tile>
        <mat-grid-tile>{{product.description}}</mat-grid-tile>
        <mat-grid-tile>{{product.image}}</mat-grid-tile>
        <mat-grid-tile><button type="but" class="btn btn-danger"
                (click)="deleteProduct(product.id)">Delete</button></mat-grid-tile>
    </div>
</mat-grid-list>